body {
    background-color: palegreen;
    font-size: 13pt;
}

.form-rows input, form textarea, form output, form button {
    display: block;
    margin-bottom: 1em;
}

.error-message {
    color: red;
    font-weight: bold;
}

code {
    font-weight: bold;
}

.top-link {
    font-size: 60%;
}

.top-link:before {
    content: "[";
}

.top-link:after {
    content: "]";
}

.dagger-input-addon {
    display: inline-block;
}

textarea + .dagger-input-addon {
    vertical-align: top;
}

@media (min-width: 500px) {
    body {
        padding-left: 20%;
        padding-right: 20%;
    }

    .form-rows .form-row {
        display: table-row;
    }

    .form-row label {
        display: table-cell;
        vertical-align: top;
        padding-right: 1em;
    }

    .form-row input, .form-row textarea, .form-row output, .form-row button {
        display: table-cell;
    }

    .button-group button {
        display: inline-block;
    }
}
