.output-container {
    visibility: hidden;
}

.output-container.visible {
    visibility: visible;
}

.error-message {
    visibility: collapse;
}

.error-message.visible {
    visibility: visible;
}

.equivalence-result {
    visibility: collapse;
}

.equivalence-result.visible {
    visibility: visible;
}
