.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.error-message {
    display: none;
}

.error-message.visible {
    display: block;
}

.equivalence-result {
    visibility: collapse;
}

.equivalence-result.visible {
    visibility: visible;
}

.witness:after {
    content: ": ";
}

code.operator:before, code.operator:after {
    content: " ";
}

.trace-list .skipped {
    color: darkgrey;
}

.trace-list .checked {
    color: blue;
}
